{{ define "main" }}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <article>

    {{ $filter_Islamic := where .Site.Pages "Params.Culture" "Islamic" }}
    {{ $filter_article := where .Site.Pages "Params.Type" "article" }}
    {{ $filtered := $filter_Islamic | intersect $filter_article }}
    {{ range $filtered }}
    {{ end }}
  
{{ range $filtered }}
<a href={{.Permalink}}>
  <p>{{.Title}} by {{.Params.Signature}}</p>
</a>
{{ end }}

</article>

</body>
</html>

{{end}}