body {
  grid-template-areas: 
  "h h h h"
  "n m m m"
  "n m m m"
  "f f f f";
}

header {
  grid-area: h;
}

nav {
  grid-area: n;
  background-color: gray;
}

main {
  grid-area: m
}

footer {
  grid-area: f
}